@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organization Submissions Progress</h2>

<div class="submissions-div">
    <div id="submissionsNav">
        <!-- This button toggles the modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createSubmissionModal">+ Create Submission</button>
    </div>

    <div id="submissionPartial">
    </div>

</div>

<script>
    $.ajax({
        type: "get",
        url: "Submissions/GetSubmissions",
        success: function (partialView) {
            $("#submissionPartial").html(partialView);
        },
        error: function (xhs) {
            console.log(xhs.responseText);
        }
    });
</script>