@model List<String>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organization Submissions Progress</h2>

<div class="submissions-div">
    <div id="submissionsNav">
        <!-- This button toggles the modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createSubmissionModal">+ Create Submission</button>
    </div>

    <div id="submissionPartial">
    </div>

</div>

<script>
    //onload scripts

    $(function () {
        updateSubmissionsPartialView();

        //populate select of add submission form of organization names
        $.each(JSON.parse('@Html.Raw(Json.Encode(@Model))'), function (i, val) {
            $("#submissionOrganization").append("<option>" + val + "</option>");
        });
    });


</script>

