@model IEnumerable<sadu.Models.Submission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Pending Submissions</h3>

<div class="submissions-div">
    <div id="submissionPartial">
    </div>

</div>

<script>
    //load submission partial view
    $(function () {
        updateSubmissionsPartialView();
    });
</script>