@model List<String>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Users List</h3>

<div id="usersNav" class="view-nav">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createUserModal"><i class="pe-7s-add-user"> </i>Create User</button>
</div>

<div id="usersTable"></div>

<script type="text/javascript">
    $(function () {

        //set active nav button
        $(".layout-nav li").removeClass("active");
        $("#user-nav").addClass("active");

        //students table partial view
        updateUsersTable();

        //populate select of add submission form of organization names
        $.each(JSON.parse('@Html.Raw(Json.Encode(@Model))'), function (i, val) {
            $("#organizationsList").append("<option>" + val + "</option>");
        });
    });
</script>