
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organizations</h2>

<div class="organizations-div">

    <div id="organizationsNav" class="view-nav">
        <!-- This button toggles the modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createOrganizationModal"><i class="pe-7s-plus"></i>Create Organization</button>
    </div>

    <div id="organizationPartial">
    </div>

</div>

<script>
    //onload scripts

    $(function () {

        //set active nav button
        $(".layout-nav li").removeClass("active");
        $("#organization-nav").addClass("active");

        updateOrganizationsPartialView();
    });

</script>


