
@{
    ViewBag.Title = "Index";
    Layout = "";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Login.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div id="loginBox">
    <h2>Login Page</h2>
    <form id="loginForm" action="@Url.Action("LoginRequest", "Login")" method="post">
        <div id="loginAlert" class="hidden alert alert-danger" role="alert"></div>
        <div class="form-group">
            <label for="userName" name="usernameLabel">Username</label>
            <input type="text" id="userName" name="username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>

        <button type="submit" class="btn btn-primary" name="loginBtn" id="loginBtn">Login</button>
    </form>
</div>